version: '3.9'

services:

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: school-erp-app:latest
    container_name: school_erp_app
    restart: always
    working_dir: /var/www
    volumes:
      - school_storage:/var/www/storage
      - /opt/school-erp/src/.env:/var/www/.env
    networks:
      - school_network
      - mysql_default

  nginx:
    image: nginx:stable-alpine
    container_name: school_erp_nginx
    restart: always
    ports:
      - "127.0.0.1:9001:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - school_storage:/var/www/storage
    depends_on:
      - app
    networks:
      - school_network

networks:
  school_network:
    driver: bridge

  mysql_default:
    external: true

volumes:
  school_storage:
