services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: school-erp-app
    container_name: school_erp_app
    restart: always
    working_dir: /var/www
    volumes:
      - ./src/storage:/var/www/storage
      - ./src/.env:/var/www/.env
    ports:
      - "127.0.0.1:9001:9000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - src/.env
    networks:
      - school_erp_network
      - mysql_default

networks:
  school_erp_network:
    driver: bridge

  mysql_default:
    external: true
