version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: school-erp-app
    container_name: school_erp_app
    restart: always
    working_dir: /var/www

    ports:
      - "127.0.0.1:9001:9000"

    volumes:
      - school_storage:/var/www/storage

    env_file:
      - src/.env

    networks:
      - school_erp_network
      - mysql_default

networks:
  school_erp_network:
    driver: bridge

  mysql_default:
    external: true

volumes:
  school_storage:
