services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: school-erp-app
    container_name: school_erp_app
    restart: always
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    ports:
      - "127.0.0.1:9001:9000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - src/.env.production
    environment:
      - DB_HOST=host.docker.internal
      - DB_PORT=8086
    networks:
      - school_erp_network

networks:
  school_erp_network:
    driver: bridge
